@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --color-light-base: #fff;
  --color-light-secondary: #d9d9d9;
  --color-light-text: #000;
  --color-light-links: rgba(47,24,174, 0.68);
  --color-error: #f00;
  --color-btn: #4D2C5E;
  --color-productivity-bg: rgba(255,255,255,0.2);
  --color-sidebar-items: rgba(51, 102, 255, 0.2);
  --font-sans: 'Roboto';
}

body{
  background-color: #FDF8EE;
}
